<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true" default-autowire="byName">

    <bean id="currencyHolidayApiEndpoint" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${currencyholiday.url}"/>
    </bean>
    <bean id="currencyHolidayClientBuilder"
          class="com.trade.externalclients.currencyholiday.client.impl.CurrencyHolidayJerseyClientBuilderImpl">
    </bean>
    <bean id="currencyHolidayApiClient" factory-bean="currencyHolidayClientBuilder"  factory-method="buildCurrencyHolidayClient"/>
    <bean id="currencyHolidayCommunicator"
          class="com.trade.externalclients.currencyholiday.communicator.impl.CurrencyHolidayCommunicatorImpl">
        <constructor-arg name="client" ref="currencyHolidayApiClient"/>
        <constructor-arg name="apiPath" ref="currencyHolidayApiEndpoint"/>
    </bean>

    <context:annotation-config/>
    <context:component-scan base-package="com.trade.externalclients.*"/>
</beans>